.cards {
  --heading-font-size-m: 1.125rem;
}

@media (min-width: 768px) {
  .cards {
    --heading-font-size-m: 1.3125rem;
    --heading-line-height-m: 1.938rem;
  }
}

.cards-container .default-content-wrapper > p {
  text-align: center;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 36px;
}

.cards > ul > li {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 22%);
}

.cards .cards-card-body {
  margin: 26px;
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

.cards .cards-card-body p {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 8px;
}

.cards .cards-card-body p:last-of-type {
    align-self: flex-end;
}

.cards .cards-card-body p:last-of-type a {
  font-size: 12px;
}

.cards .cards-card-body h4 {
  text-align: left;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .wrapping-anchor {
  text-decoration: none;
}

@media (min-width: 768px) {
  .cards > ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards .cards-card-body p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .cards .cards-card-body p:last-of-type a {
    font-size: 16px;
  }
}
