:root {
  --heading-font-size-m: 1rem;
}

@media (min-width: 768px) {
  :root {
    --heading-font-size-m: 1.3125rem;
    --heading-line-height-m: 1.938rem;
  }
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 48px;
}

.cards > ul > li {
  background-color: var(--background-color);
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 22%);
}

.cards .cards-card-body {
  margin: 26px;
}

.cards .cards-card-body h4 {
  text-align: left;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .wrapping-anchor {
  text-decoration: none;
}
