.columns > div {
  display: flex;
  flex-direction: column;
}

.columns h2 {
  margin-top: .5rem;
  margin-bottom: .625rem;
}

.columns img {
  max-height: 64px;
  width: auto;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 2;
}

.columns > div > .columns-img-col img {
  display: block;
  max-height: none;
  width: 100%;
}

.columns.text-center > div {
  text-align: center;
}

@media (min-width: 768px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .columns > div > div {
    flex: 1;
    order: unset;

  }

  .columns > div > .columns-img-col {
    order: unset;
  }

  .columns img {
    max-height: 80px;
  }

  .columns h2 {
    text-align: left;
  }
}
