header {
  height: var(--header-height);
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 22%);
  will-change: transform;
  transition: transform .2s linear;
}

header .nav-wrapper[aria-expanded="true"] {
  overflow-y: auto;
  min-height: 99vh;
}

@media (min-width: 1000px) {
  header .nav-wrapper {
    box-shadow: none;
  }
}

header nav {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  min-width: 215px;
  max-width: 1170px;
  height: var(--nav-height);
  padding: 0 30px 0 12px;
  font-family: var(--body-font-family);
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 44.5px;
    gap: 0;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  order: 3;
  display: flex;
  justify-content: center;
  margin-left: 14px;
}

@media (min-width: 768px) {
  header nav .nav-hamburger {
    display: none;
  }
}

header nav .nav-hamburger button {
  position: relative;
  width: 26px;
  height: 26px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger button > span {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 1;
  background-color: black;
  height: 4px;
  border-radius: 9px;
}

header nav .nav-hamburger button > span:first-child {
  top: 0;
}

header nav .nav-hamburger button > span:nth-child(2) {
  top: 0.875rem;
  transition: .25s ease-in-out;
}

header nav .nav-hamburger button > span:nth-child(3) {
  top: 1.75rem;
  transition: .25s ease-in-out;
}

header nav[aria-expanded="true"] .nav-hamburger button > span:first-child {
  width: 0;
}

header nav[aria-expanded="true"] .nav-hamburger button > span:nth-child(2) {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 45deg;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;

  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  top: 0.875rem
}

header nav[aria-expanded="true"] .nav-hamburger button > span:nth-child(3) {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: -45deg;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;

  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  top: 0.875rem
}

/* brand */
header .nav-brand {
  order: 1;
  flex-basis: 1px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  flex-grow: 1;
  height: var(--nav-height);
  align-items: center;
  display: flex;
}

@media (min-width: 768px) {
  header nav .nav-brand {
    order: 1;
  }
}

@media (min-width: 400px) {
  header .nav-brand {
    flex-basis: 128px;
  }
}

header nav .nav-brand .icon {
  width: 100%;
  height: auto;
  max-width: 228px;
}

@media (min-width: 768px) and (max-width: 1150px) {
  header nav .nav-brand .icon {
    max-width: 180px;
  }
}

@media (min-width: 1300px) {
  header nav .nav-brand {
    flex-grow: unset;
    min-width: 208px;
  }
}

/* sections */
header nav .nav-sections {
  order: 4;
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  min-width: 100%;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
  margin: -20px -30px 0 -12px;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  margin: 0;
}

header nav .nav-sections > ul > li {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.938rem;
  border-bottom: 1px solid var(--nav-secondary-color);
}

header nav .nav-sections ul > li[aria-expanded="true"] {
  background-color: var(--background-color-secondary);
}

header nav .nav-sections ul > li > a {
  display: inline-block;
  text-decoration: none;
  padding: 13px 22px;
  white-space: nowrap;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
  display: none;
  background-color: white;
}

header nav .nav-sections ul > li[aria-expanded="true"] > ul {
  display: block;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
  font-size: 1rem;
}

header nav .nav-sections ul > li > ul > li > a {
  padding: 6px 36px;
}

header nav .nav-sections .nav-drop {
  position: relative;
  cursor: pointer;
  user-select: none;
}

header nav .nav-sections .nav-drop::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 2pc;
  transform: rotate(135deg);
  width: 5px;
  height: 5px;
  border-style: solid;
  border-color: currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 1.5px 1.5px 0 0;
  transition: 0.2s;
}

header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
  transform: rotate(315deg);
  top: 28px;
}

@media (min-width: 768px) {
  header nav .nav-sections {
    order: 2;
    display: block;
    visibility: visible;
    min-width: unset;
    max-width: 485px;
    margin: 0;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
    margin: 0;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 0;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0;
    padding-right: 2rem;
    border: none;
  }

  header nav .nav-sections ul > li[aria-expanded="true"] {
    background-color: white;
  }

  header nav .nav-sections > ul > li > a {
    padding: 0;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: white;
    min-width: 220px;
    /* stylelint-disable-next-line */
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.22);
    overflow: visible;
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 9px 20px;
    font-size: 0.875rem;
  }

  header nav .nav-sections > ul > li > ul > li > a {
    padding: 0;
    white-space: nowrap;
  }

  header nav .nav-sections .nav-drop::after {
    top: 12px;
    right: 20px;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    transform: rotate(315deg);
    top: 16px;
    right: 20px;
  }
}

@media (min-width: 1000px) {
  header nav .nav-sections {
    max-width: 734px;
  }

  header nav .nav-sections > ul > li {
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.938rem;
    padding: 0;
    padding-right: 2rem;
    border: none;
  }
}

@media (min-width: 1300px) {
  header nav .nav-sections {
    min-width: 829px;
  }

  header nav .nav-sections > ul > li {
    margin-right: 1.5rem;
  }
}

/* get-quote */
header nav .nav-get-quote {
  order: 2;
  width: 112px;
}

header nav .nav-get-quote .button-container > strong > a {
  grid-area: get-quote;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: .75rem;
  font-weight: 700;
  padding: 1.157rem 0;
}

@media (min-width: 768px) {
  header nav .nav-get-quote {
    order: 3;
    width: 133px;
  }

  header nav .nav-get-quote .button-container > strong > a {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    white-space: nowrap;
  }
}

/* secondary */
header nav .nav-secondary {
  order: 4;
  display: none;
  flex: 1 1 auto;
  flex-direction: column-reverse;
}

header nav[aria-expanded="true"] .nav-secondary {
  display: block;
  visibility: visible;
  align-self: start;
  margin: -10px -30px 0 -12px;
}

/* stylelint-disable no-descending-specificity */
header nav > .nav-secondary > ul {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  max-width: 1170px;
  margin: 0 auto;
}

header nav > .nav-secondary > ul > li {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--background-color-secondary);
  padding: 10px;
  border-bottom: 1px solid white;
  text-align: center;
  font-weight: 300;
}

@media (min-width: 768px) {
  header nav .nav-secondary {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--background-color-secondary);
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
  }

  header nav[aria-expanded="true"] .nav-secondary {
    margin: 0;
    display: block;
    visibility: visible;
    align-self: start;
  }

  header nav > .nav-secondary > ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }

  header nav > .nav-secondary > ul > li {
    border: none;
    padding: 0 0.75rem;
    line-height: 1.5625rem;
  }
}

header nav > .nav-secondary .language-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

header nav > .nav-secondary .language-selector[aria-expanded="true"] {
  background-color: white;
}

header nav > .nav-secondary .language-selector > span {
  position: relative;
  cursor: pointer;
}

header nav > .nav-secondary .language-selector > span::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 40px;
  transform: rotate(135deg);
  width: 5px;
  height: 5px;
  border-style: solid;
  border-radius: 0 1px 0 0;
  border-width: 1.5px 1.5px 0 0;
}

header nav > .nav-secondary .language-selector[aria-expanded="true"] > span::after {
  transform: rotate(315deg);
  top: 10px;
}

header nav > .nav-secondary .language-selector span.icon {
  width: 30px;
}

header nav > .nav-secondary .language-selector > ul {
  display: none;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

header nav > .nav-secondary .language-selector[aria-expanded="true"] > ul {
  background-color: var(--background-color-secondary);
  display: flex;
  justify-content: center;
}

header nav > .nav-secondary .language-selector > ul > li {
  list-style-type: none;
  padding: 10px
}

header nav > .nav-secondary .language-selector > ul > li > a {
  color: var(--link-color);
  font-size: 0.875rem;
  text-decoration: none;
  font-family: var(--body-font-family);
  line-height: 1.5625rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width: 768px) {
  header nav > .nav-secondary .language-selector[aria-expanded="true"] {
    background-color: var(--background-color-secondary);
    position: relative;
  }

  header nav > .nav-secondary .language-selector[aria-expanded="true"] > ul {
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    left: 8px;
    top: 16px;
    background: white;
    /* stylelint-disable-next-line */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .22);
    width: 75pt;
  }
}

/* animations */
@keyframes slide-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.nav-wrapper.slide-up {
  animation-name: slide-up;
  transform: translateY(-100%);
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.nav-wrapper.slide-down {
  animation-name: slide-down;
  transform: translateY(0);
}
