/* block specific CSS goes here */

:root {
  --heading-font-size-xxl: 2.1875rem;
  --heading-font-size-m: 18px;
}

main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

main .hero {
  position: relative;
  padding: 32px .9375rem;
  min-height: 300px;
}

main .hero > div > div:first-child {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  padding-left: .9375rem;
  padding-right: .9375rem;
}

main .hero > div > div:last-child {
  margin-left: 8.33%;
  width: 83.33%;
}

main .hero h1 {
  max-width: 1200px;
  margin: 1.125rem auto;
  text-align: left;
  display: inline-block;
  font-weight: 400;
}

main .hero h1 em {
  color: var(--text-secondary-color);
  font-style: normal;
}

main .hero p:not([class*="button"]) {
  font-weight: 100;
  margin-top: 0;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m)
}

main .hero .button-container {
  margin-bottom: 0;
}

main .hero img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  :root {
    --heading-font-size-xxl: 3rem;
    --heading-font-size-m: 1.625rem;
  }

  main .hero {
    max-width: 73.123rem;
    margin: 0 auto;
  }

  main .hero > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 0;
    padding-left: .9375rem;
    padding-right: .9375rem;
  }

  main .hero h1 {
    display: block;
  }

  main .hero p:not([class*="button"]) {
    font-weight: 400;
  }

  main .hero > div > div:first-child {
    padding-top: 12%;
    text-align: left;
  }

  main .hero > div > div:last-child {
    width: 100%;
    margin-left: 0;
  }

  main .hero img {
    object-fit: contain;
  }
}
