main .overflowhero {
    background-image: url('https://www.24petwatch.com/content/dam/24-petwatch/images/other/pawpack-hero-sml.png');
    background-origin: padding-box;
    background-position-x: right;
    background-position-y: top;
    background-size: 65%;
    background-repeat: no-repeat;
    min-height: 450px;
    padding-top: 150px;
    margin-top: -150px;
}

main .discount.overflowhero p:last-child {
    display: block;
    width: 337px;
    border-radius: 7.54px;
    background: var(--white, #FFF);
    box-shadow: 0 3.77 3.77 0.943 #000 25%;
    color: var(--charcoal, #333F48);
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.969px
}

main .discount.overflowhero strong  {
    color: var(--primary-red, #BF0D3E);
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 62px;
    font-style: normal;
    font-weight: 350;
    line-height: 74px;
}

main .discount.overflowhero em {
    color: var(--medium-grey, #666A6C);
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.793px
}

