main .overflowhero {
    background-image: url('https://www.24petwatch.com/content/dam/24-petwatch/images/other/pawpack-hero-sml.png');
    background-origin: padding-box;
    background-position-x: right;
    background-position-y: top;
    background-size: 65%;
    background-repeat: no-repeat;
    min-height: 450px;
    padding-top: 150px;
    margin-top: -150px;
}