:root {
  --footer-heading-font-weight: 400;
  --footer-heading-font-size: 1pc;
  --footer-heading-line-height: 26px;
}

footer {
  font-size: var(--body-font-size-s);
  background-color: var(--footer-background-color);
  padding: 26px 37px;
}

footer .footer {
  max-width: 1200px;
  margin: 1.25rem auto;
}

footer .footer h1,
footer .footer h2,
footer .footer h3,
footer .footer h4 {
  font-size: var(--body-font-size-s);
  text-align: left;
  color: var(--footer-font-color);
  line-height: var(--footer-heading-line-height);
  margin: 0;
  padding: 0;
}

footer .footer h3,
footer .footer h4 {
  cursor: pointer;
  user-select: none;
}

footer .footer p {
  margin: 0;
}

footer .footer .footer-heading-section .icon {
  height: 10px;
  width: 13px;
}

footer .footer .footer-logo  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer .footer .footer-logo p {
  max-width: 170px;
  max-height: 88px;
}

footer .footer .footer-logo img {
  max-width: 100%;
  max-height: 88px;
  height: auto;
  width: auto;
}

footer .footer ul {
  list-style: none;
}

footer .footer .footer-heading-section ul {
  margin: 0.5rem 0 0;
  padding-left: 0;
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: var(--footer-heading-font-weight);
  font-size: var(--footer-heading-font-size);
  color: var(--footer-font-color);
}

footer .footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer .footer-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  gap: 6px;
}

footer .footer .footer-heading-section.collapsed > ul,
footer .footer .footer-subheading-container.collapsed > ul {
  display: none;
}

footer .footer a,
footer .footer li {
  color: var(--text-color);
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 9pt;
  line-height: 22px;
  white-space: pre-wrap;
  text-decoration: underline;
  cursor: pointer;
}

footer .footer .footer-container li,
footer .footer .footer-container p {
  color: var(--footer-font-color);
  min-width: 75pt;
  display: flex;
  justify-content: center;
}

footer .footer .footer-container p {
  font-size: .75rem;
  line-height: 1.313rem;
  margin: 1.25rem;
}

footer .footer .footer-heading-section {
  position: relative;
  margin-bottom: 1.25rem;
}

footer .footer .footer-subheading-container {
  position: relative;
  margin-top: 1.25rem;
}

footer .footer .footer-heading-section:not(.h2-container)::after,
footer .footer .footer-heading-section:not(.h2-container) .footer-subheading-container::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 0;
  top: 0;
  color: var(--footer-font-color);
}

footer .footer .footer-heading-section.collapsed:not(.h2-container)::after,
footer .footer .footer-heading-section:not(.h2-container) .footer-subheading-container.collapsed::after {
    transform: rotate(135deg);
}

footer .footer .footer-heading-section li {
  padding: 11px 0 15px 60px;
}

footer .footer .footer-heading-section.h2-container li,
footer .footer .footer-heading-section.h2-container a {
  color: var(--footer-font-color);
  white-space: nowrap;
}

footer .footer .footer-heading-section:first-of-type li {
  padding: 11px 0 4px 8px;
}

footer .footer .footer-heading-section:not(.h2-container) ul {
  background-color: var(--footer-list-background-color);
}

footer .footer .footer-heading-section li a span.icon {
  margin-right: 4px;
}

@media (min-width: 768px) {
  footer {
    padding: 65px 90pt;
  }

  footer h3 {
    cursor: auto;
  }

  footer .footer .footer-heading-wrapper {
    display: flex;
    gap: 8px;
    justify-content: space-between;
  }

  footer .footer li,
  footer .footer a {
    color: var(--footer-font-color);
  }

  footer .footer .footer-heading-section li {
    padding: 2px 0;
  }

  footer .footer div > ul {
    padding-bottom: 40px;
    flex-direction: row;
  }

  footer .footer .footer-container ul {
    display: flex;
  }

  footer .footer .footer-heading-section:not(.h2-container) > ul,
  footer .footer .footer-subheading-container:not(.h2-container) > ul {
    background-color: unset;
    display: block;
  }

  footer .footer .footer-heading-section:not(.h2-container)::after,
  footer .footer .footer-heading-section:not(.h2-container) .footer-subheading-container::after {
    display: none;
  }

  footer .footer .footer-logo  {
    flex-direction: row;
  }

  footer .footer .footer-logo > p:first-of-type img {
    max-height: 30px;
  }
}

@media (min-width: 900px) {
  footer .footer .footer-heading-wrapper {
    gap: 12px;
  }
}

@media (min-width: 1000px) {
  footer .footer .footer-heading-wrapper {
    gap: 16px;
  }
}
